/* import tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@font-face {
  font-family: "Iranian-Sans";
  src: url("./fonts/iranian sans/Iranian Sans.ttf");
}
/* main style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Iranian-Sans";
  background: linear-gradient(135deg, #0f0c29, #211e45, #191935);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

/* scrollbar style */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #0f0c29;
}
::-webkit-scrollbar-thumb {
  background-color: #82176b;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #681356;
}

/* home slide */
.home-slide .swiper-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 90% !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.hero-information::after {
  content: "";
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #000, transparent);
}
